.el1{
background-image: url(images/ekologicke-zemedelstvi-800x445-1.jpg);
width: 1920px;
height: 1080px;
background-size:cover;
}
.el2{
    background-image: url(images/R.jfif);
    width: 1920px;
    height: 1080px;
    background-size:cover;
}
.el3{
    background-image: url(images/R.jfif);
    width: 1920px;
    height: 1080px;
    background-size:cover;
}
.el4{

}
.el5{

}
.el6{

}
div{
    text-align: center;
}
pre{
    color: rgb(255, 255, 255);
    font-size: 40px;
}
